/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
imges {
  background-color: black;
  color: whitesmoke;
  font-size: 48px;
  text-align: center;
  height: 150px;
}
#git {
  margin-top: -4%;
  margin-left: 28%;
}
img {
  border-radius: 50%;
  margin-top: 2%;
}
body {
  background-color: beige;
}
